*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family:'Jua';
  
  }
  
  body {
    background-image: #34495e;
  }
  
  .loginForm {
    position:absolute;
    width:300px;
    height:400px;
    padding: 30px, 20px;
    background-color:#FFFFFF;
    text-align:center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
  }
  
  .loginForm h2{
    text-align: center;
    margin: 30px;
    color: darkslateblue;
  }
  
  .idForm{
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
  }
  
  .passForm{
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
  }
  
  .id {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .pw {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  .nameForm{
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
  }
  
  .emailForm{
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
  }
  
  .name {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .email {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .btn {
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:80%;
    height:40px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    color: #FFF8DC;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    font-size: 22px;
  }
  
  .btn:hover {
    background-position: right;
  }
  
  .bottomText {
    text-align: center;
  }

  .forgot{
    text-align: center;
    font-size: 11pt;
    margin: 10px 0px;
}

.forgot a.find_id{
    color: 2F4F4F;
    font-weight: bold;
}
.forgot a.find_id:hover{
    color:#6c5ce7;
}

.forgot a.find_pw{
    color: 2F4F4F;
    font-weight: bold;
}
.forgot a.find_pw:hover{
    color:#6c5ce7;
}

.forgot a.join{
    color: #9932CC;
    font-weight: bold;
}
.forgot a.join:hover{
    color: #6c5ce7;
}