--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/
/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Jua';
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    height: 100%;
    color: #666666;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    font-family: 'Jua';
    background-color: transparent;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
/* h2, */
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

.title_logo{
    float: left;
    font-size: 48px;
    margin-left: 20px;
    margin-top: 10px;
}

h3.title_logo2 a{
    font-size: 48px;
    margin-left: 385px;
    margin-top: 45px;
    color: skyblue;
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #FFF8DC;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top:35%;
    padding-bottom: 35%;
}

.layout_padding1 {
    padding-top: 1%;
    padding-bottom: 1%;
}

.padding_0 {
    padding: 0px;
}


/* banner bg main start */

.banner_bg_main {
    width: 100%;
    height: 10%;
    float: left;
    background-image: url(../images/SearchMagpie_img.jpg);
    /* height: auto; */
    background-size: 100%;
    background-repeat: no-repeat;
}
table.ex1 {width: 520px; margin:0 auto; text-align:right; border-collapse:collapse}
.ex1 th, .ex1 td {padding:8px 12px}
.ex1 caption {font-weight:700; font-size:20px; padding:5px; color:#1BA6B2; text-align:left; margin-bottom:5px}
.ex1 thead th {background:#ABC668; color:#fff; text-align:center; border-right:1px solid #fff}
.ex1 tbody th {text-align:left; width:12%}
/* .ex1 tbody td.date1 {text-align:center; width:8%} */
.ex1 tbody td.desc {text-align:left; width:25%}
.ex1 tbody tr.odd {background:#f9f9f9}
.ex1 tbody tr.odd th {background:#f2f2f2}
.ex1 tbody tr:hover {background:#6495ED}
.ex1 tbody tr:hover th {background:#F2F684; color:#1BA6B2}
.ex1 tfoot tr {border-top:6px solid #E9F7F6; color:#1BA6B2}
.ex1 tfoot th {text-align:left; padding-left:10px}

.ex1 input{
    font-family: 'Jua';
    width: 100%;
    height: 45px;
    padding: 8px 12px;
    font-size: 15px;
    text-align: left;
}

.ex1 tr.find:hover{
    background: none;
}

.ex1_custom input{
    font-family: 'Jua';
    width: 325px;
    height: 48px;
    padding: 8px 12px;
    font-size: 15px;
    text-align: left;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.date2{
    width: 0%;
    text-align: center;
    font-size: 20px;
}

.date3{
    width: 8%;
    height: 15px;
    text-align: center;
    font-size: 20px;
}

.date4{
    width: 8%;
    height: 15px;
    text-align: center;
    font-size: 20px;
}
/* banner bg main end */


/* header top section start */

.header_section_top {
    width: 100%;
    float: left;
    background-color: #2b2a29;
    clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
    height: auto;
    padding: 10px 0px;
}

.custom_menu {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.custom_menu ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.custom_menu li {
    float: left;
    font-size: 22px;
    color: #f1f1f1;
    padding: 6px 10px 0px 10px;
}

.custom_menu li a {
    color: #f1f1f1;
}

.custom_menu li a:hover {
    color: #f26522;
}


/* header top section end */


/* logo section start */

.logo_section {
    width: 100%;
    float: left;
}

.logo {
    width: 100%;
    float: left;
    text-align: center;
    padding: 30px 0px;
}


/* logo section end */


/* header section start */

.header_section {
    width: 100%;
    display: flex;
    margin-top: 0;
}

.containt_main {
    display: flex;
}


/* opennav bar start */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f26522;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.toggle_icon {
    cursor: pointer;
    color: #ffffff;
    order: 2;
}

.header_box {
    order: 2;
    display: flex;
}

.dropdown,
.dropleft,
.dropright,
.dropup {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    margin-left: 30px;
    order: 2;
}

.btn-secondary {
    color: #fff;
    background-color: #30302e;
    border-color: #30302e;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #30302e;
    border-color: #30302e;
}

.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}


/* opennav bar end */


/* Styles for wrapping the search box start */

.main {
    flex: 1;
    margin: 0px 30px;
    display: inline-block;
    order: 2;
}


/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
/*

*/

.form-control{
	display: inline-block;
	position: absolute;
	text-align: left;
	/*float: none;	
	width: 100%;
	height: auto;
	position: absolute;*/
	
}

.fa.fa-search{
	position: absolute;
	right: 80px;
	font-size: 60px;
}



/* Styles for wrapping the search box end */

.login_menu {
    display: flex;
    text-align: right;
    float: right;
    margin-right: 50px;
    margin-top: 10px;
}

.login_menu ul {
    margin: 0px;
    padding: 0px;
}

.login_menu li {
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 10px;
    padding-top: 4px;
}

.login_menu li a {
    color: #ffffff;
}

.login_menu li a:hover {
    color: #f26522;
}

.padding_10 {
    padding-left: 10px;
    font-size: 22px;
}

/* 濡쒓렇�씤 style �떆�옉 */

.login { width: 410px; position:absolute; left:50%; top: 50%;
    transform: translate(-50%, -50%); text-align: center;}

.login h2 { padding: 0 0 20px; border-bottom: 2px solid #111;text-align: center;
       line-height: 1; font-size: 33px; color: #111; }



.login > ul { padding: 40px 0 33px;}

.login > ul li { padding: 0 0 12px; text-align: left;}
.login > ul li input { width: 100%; height: 46px; box-sizing: border-box; text-indent: 16px;}
.login > ul li input::-webkit-input-placeholder {font-size: 16px; color: #9fa19f;
text-indent: 16px;} /* placeholder �옟�뒗踰� / text-indent = �뱾�뿬�벐湲�*/

.login > ul li input[type="checkbox"] { position: absolute; left: -3000px;}
.login > ul li input[type="checkbox"]:checked + label{ color:purple; font-weight: bold;}
.login > ul li input[type="checkbox"] + label {height: 36px; line-height: 36px;}

.login > ul li input[type="checkbox"] + label:before {content: ""; display:inline-block;
margin: 0 10px 0 0 ; vertical-align: -5px; width:18px; height:18px; border: 1px solid #333; background: #fff;}
.login li input[type="checkbox"]:checked + label:before { background: url(checkicon.png) no-repeat center #333; border-color:#333;}

.login button {width:100%; height:56px; font-size:18px; color: #fff; background: #ed1c24;}
/*踰꾪듉�� �꽭濡� 媛��슫�뜲 �젙�젹 �옄�룞�씠湲� �뻹臾몄뿉 line-height:56px; �븞以섎룄 �맂�떎. �넂�씠留� 二쇰㈃
�뀓�뒪�듃媛� �븣�븘�꽌 媛��슫�뜲 �젙�젹 �뱾�뼱媛�*/

.login div { padding: 0 0 45px;}
.login div ul { display:flex; justify-content: center;}
.login div ul li { position:relative; padding: 0 18px;}
.login div ul li ~ li:after {content:""; position:absolute; left:0; top:3px; height: 14px;; width:1px; background: #111; transform: rotate(15deg);} /*臾쇨껐�몴�떆瑜쇳븯寃뚮릺硫� �띁�뒪�듃李⑥씪�뱶瑜� �젣�쇅�븳 �굹癒몄�
�뱾�씠 �꽑�깮�맖*/
.login div ul li a { font-size: 14px; color:#111; }

.login > a { padding: 0 0 2px; font-size: 14px; color: #666; border-bottom: 1px solid #666;}

/* �뼵�뜑�씪�씤 湲뗫뒗 3媛�吏� 諛⑸쾿 :
.login > a { font-size: 14px; color: #666; text-decoration: underline;}

.login > a { position: relative; font-size: 14px; color: #666;}
.login > a:after { content:""; position:absolute; left:0; bottom:0; width: 100%;
height: 1px; background: #666; \}

.login > a { padding: 0 0 2px; font-size: 14px; color: #666; border-bottom: 1px solid #666;}
二쇰��뿉 �떎瑜� 而⑦뀗痢좉� �엳�쑝硫� padding�쓣 �벐硫� �븞�맂�떎. 二쇰��뿉 �쁺�뼢�쓣 誘몄튂湲� �븣臾�! 二쇱쓽�븯�옄~!*/

/* 濡쒓렇�씤 style �걹 */
/* �쉶�썝媛��엯 style �떆�옉 */

header.join{
    display: flex;
    justify-content: center;
}

form.join{
    padding: 10px;
    width: 1100px;
}

.input-box{
    position: relative;
    margin: 10px 0;
}

.input-box > input{
    background: transparent;
    border: none;
    border-bottom: solid 1px #ccc;
    padding: 20px 0px 5px 0px;
    font-size: 14pt;
    width: 100%;
}

input::placeholder{
    color: transparent;
}

input:placeholder-shown + label{
    color: #aaa;
    font-size: 14pt;
    top: 15px;
}

input:focus + label, label{
    color: #8aa1a1;
    font-size: 16pt;
    pointer-events: none;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

input:focus, input:not(:placeholder-shown){
    border-bottom: solid 1px #8aa1a1;
    outline: none;
}

button.join[type=submit]{
    width: 100%;
    padding: 21px 0 17px;

    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #00BFFF;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Jua';
    border-radius: 5px;
}

button.back[type=submit]{
    float: left;
    background-color: #8aa1a1;
    border: none;
    color: white;
    border-radius: 5px;
    width: 20%;
    height: 30px;
    font-size: 14pt;
    margin-right: 70%;
    display: flex;
    justify-content: center;
}

#forgot{
    text-align: right;
    font-size: 12pt;
    color: rgb(164, 164, 164);
    margin: 10px 0px;
}

/* 鍮꾨�踰덊샇 �엯�젰�� */
.pswdImg{
    width: 18px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -10px;
    cursor: pointer;
}

.error_next_box{
    margin-top: 9px;
    font-size: 12px;
    color: red;
    display: none;
}

#alertTxt{
    position: absolute;
    top: 19px;
    right: 38px;
    font-size: 12px;
    color: red;
    display: none;
}

/* �쉶�썝媛��엯 style �걹 */

/* flage css start */

.lang_box {
    display: flex;
    float: right;
    background: #fff;
    border-radius: 5px;
    margin-right: 20px;
}

.nav-link {
    display: block;
    padding: .4rem 1rem;
}

a:hover {
    color: #f26522;
    text-decoration: underline;
}


/* flage css end */


/* header section end */


/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 60px;
}

.banner_taital {
    width: 100%;
    font-size: 60px;
    color: #FFF0F5;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.buynow_bt {
    width: 170px;
    margin: 0 auto;
    padding-top: 30px;
}

.buynow_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #252525;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.buynow_bt a:hover {
    background-color: #f26522;
    color: #ffffff;
}

#my_slider a.carousel-control-next {
    right: 0px;
    top: 40px;
}

#my_slider a.carousel-control-prev {
    left: 0px;
    top: 40px;
}

#my_slider .carousel-control-next,
#my_slider .carousel-control-prev {
    width: 45px;
    height: 45px;
    background: rgb(242, 222, 172, 0.80);
    opacity: 1;
    font-size: 20px;
    color: #000;
    border-radius: 100px;
}

#my_slider .carousel-control-next:focus,
#my_slider .carousel-control-next:hover,
#my_slider .carousel-control-prev:focus,
#my_slider .carousel-control-prev:hover {
    color: #fff;
}


/* banner section end */


/* fashion section start */

.fashion_section {
    width: 100%;
    float: left;
    padding-bottom: 150px;
}

.fashion_taital {
    width: 100%;
    font-size: 40px;
    color: #30302e;
    text-align: center;
    font-weight: bold;
}

.fashion_section_2 {
    width: 100%;
    margin-top: 30px;
}

.box_main {
    width: 100%;
    background-color: #ffffff;
    height: auto;
    padding: 20px;
    box-shadow: 0px 0 30px 10px #f0f0f0;
    margin-bottom: 20px;
}

.shirt_text {
    width: 100%;
    font-size: 20px;
    color: #30302e;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

.price_text {
    width: 100%;
    font-size: 16px;
    color: #f26522;
    text-align: center;
    margin: 0px;
}

.tshirt_img {
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    min-height: 370px;
}

.btn_main {
    width: 100%;
    display: flex;
}

.buy_bt {
    float: left;
    width: 100%;
}

.buy_bt a {
    width: 100%;
    font-size: 16px;
    color: #f26522;
    background-color: transparent;
    text-align: right;
    font-weight: bold;
}

.buy_bt a:hover {
    background-color: transparent;
    color: #262626;
}

.seemore_bt {
    width: 100%;
    float: right;
    text-align: right;
}

.seemore_bt a {
    width: 100%;
    font-size: 16px;
    color: #262626;
    background-color: transparent;
    text-align: right;
}

.seemore_bt a:hover {
    background-color: transparent;
    color: #f26522;
}

#main_slider a.carousel-control-next {
    right: 615px;
    top: 105%;
}

#main_slider a.carousel-control-prev {
    left: 615px;
    top: 105%;
}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background-color: #30302e;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#main_slider .carousel-control-next:focus,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-prev:hover {
    color: #fff;
    background-color: #f26522;
}


/* fashion section end */


/* electronic section start */

.electronic_img {
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    min-height: 293px;
}

#electronic_main_slider a.carousel-control-next {
    right: 615px;
    top: 105%;
}

#electronic_main_slider a.carousel-control-prev {
    left: 615px;
    top: 105%;
}

#electronic_main_slider .carousel-control-next,
#electronic_main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background-color: #30302e;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#electronic_main_slider .carousel-control-next:focus,
#electronic_main_slider .carousel-control-next:hover,
#electronic_main_slider .carousel-control-prev:focus,
#electronic_main_slider .carousel-control-prev:hover {
    color: #fff;
    background-color: #f26522;
}


/* electronic section end */


/* jewellery section start */

.jewellery_section {
    width: 100%;
    float: left;
    padding-bottom: 50px;
}

.jewellery_img {
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    min-height: 293px;
}

#jewellery_main_slider a.carousel-control-next {
    right: 615px;
    top: 75%;
}

#jewellery_main_slider a.carousel-control-prev {
    left: 615px;
    top: 75%;
}

#jewellery_main_slider .carousel-control-next,
#jewellery_main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background-color: #30302e;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#jewellery_main_slider .carousel-control-next:focus,
#jewellery_main_slider .carousel-control-next:hover,
#jewellery_main_slider .carousel-control-prev:focus,
#jewellery_main_slider .carousel-control-prev:hover {
    color: #fff;
    background-color: #f26522;
}


/* loader bar css start */

.loader_main {
    width: 100%;
    text-align: center;
    margin-top: 140px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #414744;
    border-right: 16px solid #f26522;
    border-bottom: 16px solid #414744;
    border-left: 16px solid #f26522;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 6s linear infinite;
    margin: 0 auto;
}

/* loader bar css end */


/* jewellery section end */


/* footer section start */


/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.footer_logo {
    width: 100%;
    height: auto;
    text-align: center;
}

.input_bt {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    border-bottom: 1px solid #ffffff !important;
}

.mail_bt {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    padding: 5px 0px 5px 0px;
    height: 60px;
    border: 0px;
}

input.mail_bt::placeholder {
    color: #fff;
}

.subscribe_bt {
    width: 30%;
    float: right;
    font-size: 16px;
    color: #f26522;
    background-color: transparent;
    padding: 20px 0px 5px 0px;
    border-radius: 30px;
    border: 0px;
    text-transform: uppercase;
    text-align: right;
}

.subscribe_bt a {
    color: #f26522;
}

.subscribe_bt a:hover {
    color: #ffffff;
}

.footer_menu {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.footer_menu ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.footer_menu li {
    float: left;
    font-size: 16px;
    color: #f1f1f1;
    padding: 20px 10px 0px 10px;
}

.footer_menu li a {
    color: #f1f1f1;
}

.footer_menu li a:hover {
    color: #f26522;
}

.location_main {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

.location_main {
    float: left;
    font-size: 16px;
    color: #ffffff;
    padding: 30px 30px 30px 30px;
}

.location_main a {
    color: #ffffff;
}

.location_main a:hover {
    color: #f26522;
}


/* footer section end */


/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin: 20px 0px;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #f26522;
}

.margin_top90 {
    margin-top: 90px;
}

.navbar_icons {
    list-style: none;
    display: flex;
    padding-left: 0;
}


/* copyright section end */
/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Jua';
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    color: #666666;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    font-family: 'Jua';
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
/* h2, */
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

.title_logo{
    float: left;
    font-size: 48px;
    margin-left: 20px;
    margin-top: 10px;
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #FFF8DC;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

/* 踰꾪듉 button CSS �떆�옉 */

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

button.btn_Custom {
    font-family: 'Jua';
    display: inline-block;
    padding: 12px 110px;
    background: rgb(220,220,220);
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    transition: ease .3s;
    /* margin: 15%; */
}

button.btn_Custom2 {
    font-family: 'Jua';
    display: inline-block;
    padding: 8px 14px;
    background: #00BFFF;
    font-weight: bold;
    color: #E6E6FA;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
}

button.btn_Custom3 {
    font-family: 'Jua';
    display: inline-block;
    padding: 8px 14px;
    background: #1E90FF;
    font-weight: bold;
    color: #B0E0E6;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    transition: ease .3s;
    /* margin: 15%; */
}

button.btn_Custom4 {
    font-family: 'Jua';
    font-size: 18px;
    display: inline-block;
    padding: 12px 141px;
    background: #1E90FF;
    font-weight: bold;
    color: #B0E0E6;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    transition: ease .3s;
    /* margin: 15%; */
}

/* 踰꾪듉 button CSS �걹 */

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top:32%;
    padding-bottom: 2%;
}

.layout_padding1 {
    padding-top: 2%;
    padding-bottom: 2%;
}

.padding_0 {
    padding: 0px;
}


/* banner bg main start */

.banner_bg_main {
    width: 100%;
    height: 10%;
    float: left;
    background-image: url(../images/SearchMagpie_img.jpg);
    /* height: auto; */
    background-size: 100%;
    background-repeat: no-repeat;
}
table.ex1 {width: 520px; margin:0 auto; text-align:right; border-collapse:collapse}
.ex1 th, .ex1 td {padding:8px 12px}
.ex1 caption {font-weight:700; font-size:20px; padding:5px; color:#1BA6B2; text-align:left; margin-bottom:5px}
.ex1 thead th {background:#ABC668; color:#fff; text-align:center; border-right:1px solid #fff}
.ex1 tbody th {text-align:left; width:12%}
/* .ex1 tbody td.date1 {text-align:center; width:8%} */
.ex1 tbody td.desc {text-align:left; width:25%}
.ex1 tbody tr.odd {background:#f9f9f9}
.ex1 tbody tr.odd th {background:#f2f2f2}
.ex1 tbody tr:hover {background:#6495ED}
.ex1 tbody tr:hover th {background:#F2F684; color:#1BA6B2}
.ex1 tfoot tr {border-top:6px solid #E9F7F6; color:#1BA6B2}
.ex1 tfoot th {text-align:left; padding-left:10px}

.ex1 input{
    font-family: 'Jua';
    width: 100%;
    height: 45px;
    padding: 8px 12px;
    font-size: 15px;
    text-align: left;
}

.date2{
    width: 0%;
    text-align: center;
    font-size: 20px;
}

.date3{
    width: 8%;
    height: 15px;
    text-align: center;
    font-size: 20px;
}

.date4{
    width: 8%;
    height: 15px;
    text-align: center;
    font-size: 20px;
}
/* banner bg main end */


/* header top section start */

.header_section_top {
    width: 100%;
    float: left;
    background-color: #2b2a29;
    clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
    height: auto;
    padding: 10px 0px;
}

.custom_menu {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.custom_menu ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.custom_menu li {
    float: left;
    font-size: 22px;
    color: #f1f1f1;
    padding: 6px 10px 0px 10px;
}

.custom_menu li a {
    color: #f1f1f1;
}

.custom_menu li a:hover {
    color: #f26522;
}


/* header top section end */

/* logo section start */

.logo_section {
    width: 100%;
    float: left;
}

.logo {
    width: 100%;
    float: left;
    text-align: center;
    padding: 30px 0px;
}


/* logo section end */


/* header section start */

.header_section {
    width: 100%;
    display: flex;
    margin-top: 8%;
}

.containt_main {
    display: flex;
}


/* opennav bar start */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f26522;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.toggle_icon {
    cursor: pointer;
    color: #ffffff;
    order: 2;
    float: left;
    position: absolute;
    left: 100px;
    margin-left: 200px;
}

.header_box {
    order: 2;
    display: flex;
}

.dropdown,
.dropleft,
.dropright,
.dropup {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    margin-left: 30px;
    order: 2;
}

.btn-secondary {
    color: #fff;
    background-color: #30302e;
    border-color: #30302e;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #30302e;
    border-color: #30302e;
}

.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}


/* opennav bar end */


/* Styles for wrapping the search box start */

.main {
    flex: 1;
    margin: 0px 30px;
    display: inline-block;
    order: 2;
}


/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    
}

.has-search .form-control-feedback {
    position: relative;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


/* Styles for wrapping the search box end */

.login_menu {
    display: flex;
    text-align: right;
    float: right;
    margin-right: 50px;
    margin-top: 10px;
}

.login_menu ul {
    margin: 0px;
    padding: 0px;
}

.login_menu li {
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 10px;
    padding-top: 4px;
}

.login_menu li a {
    color: #ffffff;
}

.login_menu li a:hover {
    color: #f26522;
}

.padding_10 {
    padding-left: 10px;
    font-size: 22px;
}


/* flage css start */

.lang_box {
    display: flex;
    float: right;
    background: #fff;
    border-radius: 5px;
    margin-right: 20px;
}

.nav-link {
    display: block;
    padding: .4rem 1rem;
}

a:hover {
    color: #f26522;
    text-decoration: underline;
}


/* flage css end */


/* header section end */


/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 60px;
}

.banner_taital {
    width: 100%;
    font-size: 60px;
    color: #FFF0F5;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.buynow_bt {
    width: 170px;
    margin: 0 auto;
    padding-top: 30px;
}

.buynow_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #252525;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.buynow_bt a:hover {
    background-color: #f26522;
    color: #ffffff;
}

#my_slider a.carousel-control-next {
    right: 0px;
    top: 40px;
}

#my_slider a.carousel-control-prev {
    left: 0px;
    top: 40px;
}

#my_slider .carousel-control-next,
#my_slider .carousel-control-prev {
    width: 45px;
    height: 45px;
    background: rgb(242, 222, 172, 0.80);
    opacity: 1;
    font-size: 20px;
    color: #000;
    border-radius: 100px;
}

#my_slider .carousel-control-next:focus,
#my_slider .carousel-control-next:hover,
#my_slider .carousel-control-prev:focus,
#my_slider .carousel-control-prev:hover {
    color: #fff;
}


/* banner section end */


/* fashion section start */

.fashion_section {
    width: 100%;
    float: left;
    padding-bottom: 150px;
}

.fashion_taital {
    width: 100%;
    font-size: 40px;
    color: #30302e;
    text-align: center;
    font-weight: bold;
}

.fashion_section_2 {
    width: 100%;
    margin-top: 30px;
}

.box_main {
    width: 100%;
    background-color: #ffffff;
    height: auto;
    padding: 20px;
    box-shadow: 0px 0 30px 10px #f0f0f0;
    margin-bottom: 20px;
}

.shirt_text {
    width: 100%;
    font-size: 20px;
    color: #30302e;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

.price_text {
    width: 100%;
    font-size: 16px;
    color: #f26522;
    text-align: center;
    margin: 0px;
}

.tshirt_img {
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    min-height: 370px;
}

.btn_main {
    width: 100%;
    display: flex;
}

.buy_bt {
    float: left;
    width: 100%;
}

.buy_bt a {
    width: 100%;
    font-size: 16px;
    color: #f26522;
    background-color: transparent;
    text-align: right;
    font-weight: bold;
}

.buy_bt a:hover {
    background-color: transparent;
    color: #262626;
}

.seemore_bt {
    width: 100%;
    float: right;
    text-align: right;
}

.seemore_bt a {
    width: 100%;
    font-size: 16px;
    color: #262626;
    background-color: transparent;
    text-align: right;
}

.seemore_bt a:hover {
    background-color: transparent;
    color: #f26522;
}

#main_slider a.carousel-control-next {
    right: 615px;
    top: 105%;
}

#main_slider a.carousel-control-prev {
    left: 615px;
    top: 105%;
}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background-color: #30302e;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#main_slider .carousel-control-next:focus,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-prev:hover {
    color: #fff;
    background-color: #f26522;
}


/* fashion section end */


/* electronic section start */

.electronic_img {
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    min-height: 293px;
}

#electronic_main_slider a.carousel-control-next {
    right: 615px;
    top: 105%;
}

#electronic_main_slider a.carousel-control-prev {
    left: 615px;
    top: 105%;
}

#electronic_main_slider .carousel-control-next,
#electronic_main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background-color: #30302e;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#electronic_main_slider .carousel-control-next:focus,
#electronic_main_slider .carousel-control-next:hover,
#electronic_main_slider .carousel-control-prev:focus,
#electronic_main_slider .carousel-control-prev:hover {
    color: #fff;
    background-color: #f26522;
}


/* electronic section end */


/* jewellery section start */

.jewellery_section {
    width: 100%;
    float: left;
    padding-bottom: 50px;
}

.jewellery_img {
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    min-height: 293px;
}

#jewellery_main_slider a.carousel-control-next {
    right: 615px;
    top: 75%;
}

#jewellery_main_slider a.carousel-control-prev {
    left: 615px;
    top: 75%;
}

#jewellery_main_slider .carousel-control-next,
#jewellery_main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background-color: #30302e;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#jewellery_main_slider .carousel-control-next:focus,
#jewellery_main_slider .carousel-control-next:hover,
#jewellery_main_slider .carousel-control-prev:focus,
#jewellery_main_slider .carousel-control-prev:hover {
    color: #fff;
    background-color: #f26522;
}


/* loader bar css start */

.loader_main {
    width: 100%;
    text-align: center;
    margin-top: 140px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #414744;
    border-right: 16px solid #f26522;
    border-bottom: 16px solid #414744;
    border-left: 16px solid #f26522;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 6s linear infinite;
    margin: 0 auto;
}

/* i�봽�젅�엫 �떆�옉 */

.frame{
    width: 1110px;
    font-family: 'Jua';
}

.frame_join{
    width: 100%;
    height: 1400px;
    font-family: 'Jua';
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 550px;
    margin-bottom: 50px;
}

.frame_login{
    width: 500px;
    height: 500px;
    font-family: 'Jua';
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 25%;
    margin-top: 650px;
    margin-bottom: 50px;
}

.frame_edit_info{
    width: 100%;
    height: 1200px;
    font-family: 'Jua';
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 550px;
    margin-bottom: 30px;
}

.frame_wish_list{
    width: 100%;
    height: 800px;
    font-family: 'Jua';
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 500px;
    margin-bottom: 30px;
    border-radius: 2%;
}

body.join {
    margin: 0;
    height: 100%;
    background: #f5f6f7;
    font-family: 'Jua';
}

#header.login {
    padding-top: 62px;
    padding-bottom: 20px;
    text-align: center;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* i�봽�젅�엫 �걹 */

/* loader bar css end */

/* jewellery section end */

/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.footer_logo {
    width: 100%;
    height: auto;
    text-align: center;
}

.input_bt {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    border-bottom: 1px solid #ffffff !important;
}

.mail_bt {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    padding: 5px 0px 5px 0px;
    height: 60px;
    border: 0px;
}

input.mail_bt::placeholder {
    color: #fff;
}

.subscribe_bt {
    width: 30%;
    float: right;
    font-size: 16px;
    color: #f26522;
    background-color: transparent;
    padding: 20px 0px 5px 0px;
    border-radius: 30px;
    border: 0px;
    text-transform: uppercase;
    text-align: right;
}

.subscribe_bt a {
    color: #f26522;
}

.subscribe_bt a:hover {
    color: #ffffff;
}

.footer_menu {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.footer_menu ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.footer_menu li {
    float: left;
    font-size: 16px;
    color: #f1f1f1;
    padding: 20px 10px 0px 10px;
}

.footer_menu li a {
    color: #f1f1f1;
}

.footer_menu li a:hover {
    color: #f26522;
}

.location_main {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

.location_main {
    float: left;
    font-size: 16px;
    color: #ffffff;
    padding: 30px 30px 30px 30px;
}

.location_main a {
    color: #ffffff;
}

.location_main a:hover {
    color: #f26522;
}

/* footer section end */

/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin: 20px 0px;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #f26522;
}

.margin_top90 {
    margin-top: 90px;
}

.navbar_icons {
    list-style: none;
    display: flex;
    padding-left: 0;
}


/* copyright section end */