/* 占쎌쟿占쎌뵠占쎈툡占쎌뜍 占쏙옙 占쎈뻻占쎌삂 */

*{
    font-family: 'Jua';
    font-weight: bold;
}

html {
    width: 100%;
    height: 100%;
}

#logo {
    width: 240px;
    height: 44px;
    cursor: pointer;
}

#header {
    padding-top: 62px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Jua';
}
#wrapper {
    position: relative;
    height: 100%;
}

#content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 400px;
}

h5.comment {
    color: #2F4F4F;
    font-size: 16px;
    font-weight: bold;
  }

/* 占쎌쟿占쎌뵠占쎈툡占쎌뜍 占쏙옙 占쎄국 */

.cart-page{
    margin: 80px auto;
}
table{
	background-color: whitesmoke;
    width: 80%;
    border-collapse: collapse;
    margin-left: 200px;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

.cart-info p{
    display: flex;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background-image: url(../images/SearchMagpie_img.png);
    font-weight: normal;
}

td{
    padding: 10px 5px;
}
.liketd{
	position: relative;
	text-align: center;
	align-content: center;
	align-items: center;
	align-self: center;
	justify-content: center;
}
td input{
    width: 50px;
    height: 30px;
    padding: 5px;
    /* border-radius: 1px; */
    box-shadow: gray;
    align-content: center;
    text-align: center;
    position: relative;
    left: 15px;
    cursor: pointer;
}
td a{
    color: #8E37D7;
    font-size: 12px;
    text-decoration-line : none;
	text-decoration : none;
}
td img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #8E37D7;
    width: 100%;
    max-width: 350px;
}

td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}




/* 占쎈읂占쎌뵠筌욑옙占쎄퐬占쎌뵠占쎈�� 占쎈뻻占쎌삂 */
/*
#pagination a{
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}
*/
/* 占쎈읂占쎌뵠筌욑옙占쎄퐬占쎌뵠占쎈�� 占쎄국 */

/* 占쎈쳳占쎈룴占쎈르�뵳占� 占쎈뻻占쎌삂 */

td #sale {
    width: 80px;
    height: 30px;
    padding: 5px;
    border-radius: 1px;
    box-shadow: gray;
    align-content: center;
    text-align: center;
    position: relative;
    left: 25px;
    cursor: pointer;
}
    

/* 占쎈쳳占쎈룴占쎈르�뵳占� 占쎄국 */

/* 甕곌쑵�뱣占쎄묶域뱄옙 占쎈뻻占쎌삂 */

button{
    position: relative;
    left: px;
    bottom: 20px;
}
h1 a{
	color: gray;
	text-decoration-line : none;
	text-decoration : none;
}
h1 a:hover{
	color: blue;
}
h2:hover{
	color: purple;
}

.btn_like{
	justify-content: center;
    width: 60px;
    height: 32px;
    align-content: center;
    text-align: center;
    cursor: pointer;
    align-items: center;
    align-self: center;
    position: relative;
    top: 0;
}

.btn_like a{
	text-decoration-line : none;
	text-decoration : none;
	color: #008C8C;
}
.btn_like a:hover{
	color: white;
}
.btn_like:hover{
background: #FF8CFF;
}

.btn_next {
    position:relative;
    left: 55px;
    transform: translateX(-50%);
    margin-top: 40px;
    width:10%;
    height:40px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    color: #FFF8DC;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    font-size: 16px;
    float: right;
  }

  .btn_back{
    position:relative;
    /* transform: translateX(-50%); */
    margin-top: 40px;
    width:15%;
    height:40px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: right;
    background-size: 200%;
    color: gray;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    font-size: 22px;
    float: left;
  }

  .btn_alram {
    position:relative;
    right: 40px;
    transform: translateX(-50%);
    margin-top: 40px;
    width:12%;
    height:40px;
    background: linear-gradient(125deg,#8A2BE2,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    color: burlywood;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    font-size: 16px;
    float: right;
  }

  .btn_alram:hover{
      background-position: top;
  }
  
  .btn_back:hover {
    background-position: left;
  }

  .btn_next:hover {
    background-position: right;
  }
  
  .bottomText {
    text-align: center;
  }

/* 甕곌쑵�뱣占쎄묶域뱄옙 占쎄국 */