/* 레이아웃 틀 시작 */

*{
    font-family: 'Jua';
    font-weight: bold;
}

html {
    width: 100%;
    height: 100%;
}

#logo {
    width: 240px;
    height: 44px;
    cursor: pointer;
}

#header {
    padding-top: 62px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Jua';
}
#wrapper {
    position: relative;
    height: 100%;
}

#content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 400px;
}

h5.comment {
    color: #2F4F4F;
    font-size: 16px;
  }

/* 레이아웃 틀 끝 */

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

.cart-info p{
    display: flex;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: #8A2BE2;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}
td input{
    width: 50px;
    height: 30px;
    padding: 5px;
    /* border-radius: 1px; */
    box-shadow: gray;
    align-content: center;
    text-align: center;
    position: relative;
    left: 15px;
    cursor: pointer;
}
td a{
    color: #8E37D7;
    font-size: 12px;
}
td img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #8E37D7;
    width: 100%;
    max-width: 360px;
}

td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/* 페이지네이션 시작 */

#pagination a{
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

/* 페이지네이션 끝 */

/* 푸쉬알림 시작 */

td #sale {
    width: 80px;
    height: 30px;
    padding: 5px;
    border-radius: 1px;
    box-shadow: gray;
    align-content: center;
    text-align: center;
    position: relative;
    left: 25px;
    cursor: pointer;
}
    

/* 푸쉬알림 끝 */

/* 버튼태그 시작 */

button{
    position: relative;
    left: px;
    bottom: 20px;
}

.btn_next {
    position:relative;
    left: 55px;
    transform: translateX(-50%);
    margin-top: 40px;
    width:10%;
    height:40px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    color: #FFF8DC;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    font-size: 16px;
    float: right;
  }

  .btn_back{
    position:relative;
    /* transform: translateX(-50%); */
    margin-top: 40px;
    width:15%;
    height:40px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: right;
    background-size: 200%;
    color: gray;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    font-size: 22px;
    float: left;
  }

  .btn_alram {
    position:relative;
    right: 52px;
    transform: translateX(-50%);
    margin-top: 40px;
    width:12%;
    height:40px;
    background: linear-gradient(125deg,#8A2BE2,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    color: burlywood;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    font-size: 16px;
    float: right;
  }

  .btn_alram:hover{
      background-position: top;
  }
  
  .btn_back:hover {
    background-position: left;
  }

  .btn_next:hover {
    background-position: right;
  }
  
  .bottomText {
    text-align: center;
  }

/* 버튼태그 끝 */